@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #202020;
}

.row__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-cursor {
    cursor: not-allowed;
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
}

.text-color{
    color: #1C81FF
}

input{
    border: none;
}
